body{
    overflow-x: inherit;
    overflow-y: auto;
    margin: auto;
}

.paper {
    padding:25px 15px 25px 15px;
    min-width:756px;
    border:1px solid #000000;
}

.underline {
    border-bottom:1px solid #000000;
    padding-left: 15px;
    padding-right: 15px;
}

.item {
    float:right;
}

.single-row {
	height: auto!important;
    min-height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}

.paper-title {
	border-bottom: 1px solid #000000;
	margin-bottom: 40px;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}

.paper-content {
	border-bottom: 1px solid #000000;
	margin-bottom: 40px;
}

.content-title {
	margin-top: -20px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 12px;
    font-weight: 600;
}

.paper-footer {

}

.form-item {
	border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    width: 55%;
    padding: 4px 5px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.form-area {
	position: absolute;
	border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    width: 90%;
    padding: 4px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.area-group {
	line-height: 4;
}

.group-item {
	width: 55%;
	display: inline-table;
}

.form-group-input {
	border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    width: 100%;
    padding: 4px 5px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.boxes {
    float: left;
    margin: 8px;
    position: relative;
    width: 120px;
    height: 140px;
    border: 1px solid #D7D7D7;
    overflow: hidden;
}

.filepath {
    width: 120px;
    height: 140px;
    position: absolute;
    opacity: 0;
}

.img {
    width: 120px;
    height: 140px;
    display: none;
}

.closecamera {
    margin-left: 96px;
    position: absolute;
    font-size: 20px;
    display: none;
}

.imgbox {
	display: inline-flex;
}

.camera-picture {
	width: 100%;
	padding-top: 22px;
}

.head-picture {
	position: absolute;
    margin-left: 730px;
    top: 100px;
    border: 1px solid #000000;
    z-index: 1;
}

.picture-remark {
	text-align: center;
}

.panel-row {
	text-align: center;
	margin-bottom: 50px;
}

.chosen {
	background-color: #3177BC;
	color: #fff;
}

.td-sign {
    position: inherit;
}